<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		<beans>
			<bean class="per.java.playground.beans.User">
				<constructor-arg type="String" value="hello"></constructor-arg>
				<constructor-arg type="Integer" value="123"></constructor-arg>
			</bean>
		</beans>
</beans>